@import 'normalize';

$blue: #4b688b;
$light-blue: #2b4a6f;

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol{
  font-size: 100%;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin-left: 1em;
}

.list-unstyled {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

p,
ul,
ol,
form{
  margin-bottom: 1.5em;
}

html {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  font-weight: normal;
  color: #323232;
}

.brand {
  font-size: 1.5em;
}

.page-header {
  font-size: 2em;
  border-bottom: solid 1px;
  padding-bottom: .75em;
  margin-bottom: .75em;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: $light-blue;
    text-decoration: underline;
  }
}

html {
  background: #f1f1f1;
  color: #323232;
}

.container {
  padding: 1.5em 5%;
}

.header {
  background: $blue;
}

.header .container {

  @media(min-width: 600px) {
    display: flex;
    align-items: center;
  }
}

.header-nav {

  padding-top: 1.25em;

  @media(min-width: 600px) {
    flex: 1;
    display: flex;
    padding-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      border-bottom: solid 1px $light-blue;
    }

    a {
      display: block;
      padding: .5em 0;
    }

    @media(min-width: 600px) {
      flex: 1;
      li {
        display: inline;
        margin-left: 1em;
        border: 0;
      }

      a {
        display: inline-block;
        padding: 0;
      }
    }
  }

  .main-nav {

    @media(min-width: 600px) {
      margin-left: 2em;
    }
  }
}

.user-nav {

  @media(min-width: 600px) {
    text-align: right;
  }
}

.header a {
  color: #fff;
  text-decoration: none;
}

.form-group {
  margin-bottom: 1.25em;
}

.form-control,
label {
  display: block;
}

.panel {
  margin-bottom: 1.5em;
}

.panel-heading {
  background: $blue;
  color: #fff;
  padding: .25em .5em;
  border: solid 1px $blue;
  border-radius: 2px 2px 0 0;
}

.panel-body {
  padding: .5em;
  border: solid 1px #ddd;
  border-radius: 0 0 2px 2px;
  background: #fff;
}

.panel-heading a {
  color: #fff;
}

.well {
  border: solid 1px #ddd;
  background: #fff;
  padding: 1.5em;
  border-radius: 2px;
  margin-bottom: 1.5em;
}

.form-row {
  display: flex;
}

.form-row .btn {
  margin-top: 1.5em;
}

.form-column {
  width: 48%;
  margin-left: 4%;

  &:first-child {
    margin-left: 0;
  }
}

.entry-item {
  border: solid 1px;
  margin-bottom: 1.5em;
  border-radius: 2px;
  padding: .75em;
}

.list-group {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.list-group-item {
  border-bottom: solid 1px #ddd;
  padding: .25em 0;
}

.nav-toggle {
  float: right;
}

.js .header-nav {
  display: none;
}

@media(min-width: 600px) {
  .header-nav {
    display: flex !important;
  }

  .nav-toggle {
    display: none;
  }
}

.alert {
  border: solid 1px;
  padding: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 2px;
  background: #fff;

  :last-child {
    margin-bottom: 0;
  }
}

.alert-success {
  color: #3aa92e;
}

.alert-danger {
  color: #C82829;
}

.jumbotron {
  margin-bottom: .5em;
  font-size: 3em;
  text-align: center;
  display: block;
  line-height: 3em;
}

.has-error {
  .form-control {
    border-color: #C82829;
  }

  .help-block,
  label {
    color: #C82829;
  }
}

.btn,
.form-control,
.select2{
  border: solid 1px;
  font-size: 100%;
  line-height: 1.5em;
  padding: .5em;
  border-radius: 2px;
  font-family: inherit;
  font-size: 16px;
}

.form-control,
.select2{
  display: block;
  width: 100%;
  background: #fff;
  -webkit-appearance: none;
  border-color: #ddd;
}

.btn {
  text-decoration: none;
  display: inline-block;
  padding: .5em 1em;
  cursor: pointer;
  color: #fff;
  background: $blue;
  border-color: $blue;

  &:hover {
    text-decoration: none;
    background: transparent;
    color: $blue;
  }
}

.btn-danger {
  background: #C82829;
  color: #fff;
  border-color: #C82829;

  &:hover {
    background: transparent;
    color: #C82829;
  }
}

select.form-control {
  -webkit-appearance: none;
}

.select2-container--default .select2-selection--multiple {
  border: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  //outline: inherit;
}