{% extends 'base.html.twig' %}

{% block body %}
<h1 class="page-header">Users</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td><a href="{{ path('user_edit', { id: user.id }) }}">{{ user.email }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}